header {
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
}

#root {
  padding: 36px 0;
}

nav {
  background: #333;
  height: 36px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  padding: 10px;
}

nav a:hover {
  background-color: #444;
}

.brand {
  display: none;
}

@media screen and (min-width: 768px) {
  nav ul {
    display: flex;
    justify-content: flex-end;
  }

  .brand {
    display: block;
    margin-right: auto;
    padding: 10px;
    color: #fff;
  }
}
